<a href="https://colab.research.google.com/github/bjkc/Data-visualization/blob/main/QUIZ5%20SQL%20and%20query.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#bijay raj kc
quiz 5 SQL query

In [1]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

i am authenticated as always now i will look around the dataset and also i am using austin bike share this time too,and iwill put limit 5 which after code will give me table.

In [2]:
%%bigquery --project data-visualization-bjkc
SELECT *
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
LIMIT 5

      trip_id  ... duration_minutes
0  9900289692  ...               39
1  9900285987  ...               31
2  9900285989  ...               31
3  9900285991  ...               30
4  9900286140  ...               19

[5 rows x 9 columns]

In [7]:
%%bigquery --project data-visualization-bjkc
SELECT start_station_name, MAX(duration_minutes) as max_duration_minutes
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
GROUP BY start_station_name

                        start_station_name  max_duration_minutes
0                         Zilker Park West                  1044
1                  Toomey Rd @ South Lamar                  2863
2          State Capitol @ 14th & Colorado                  2670
3                         Waller & 6th St.                  2138
4                               Pease Park                   319
..                                     ...                   ...
188  Republic Square @ Guadalupe & 4th St.                  4944
189                             3rd & West                  5131
190                               3rd/West                 15024
191                          Nueces & 26th                  3484
192                            26th/Nueces                  3766

[193 rows x 2 columns]

In [8]:
%%bigquery --project data-visualization-bjkc

SELECT  MAX(duration_minutes) as max_duration_minutes
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
WHERE start_station_name ="Pease Park"

   max_duration_minutes
0                   319

In [10]:
%%bigquery --project data-visualization-bjkc

SELECT start_station_name, duration_minutes
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
WHERE start_station_name = end_station_name
LIMIT 100

                 start_station_name  duration_minutes
0           Toomey Rd @ South Lamar                31
1           Toomey Rd @ South Lamar                31
2           Toomey Rd @ South Lamar                30
3   State Capitol @ 14th & Colorado                19
4   State Capitol @ 14th & Colorado                17
..                              ...               ...
95                Rainey @ River St                87
96                 Zilker Park West                11
97         ACC - West & 12th Street                17
98                Rainey @ River St                87
99          Toomey Rd @ South Lamar                 0

[100 rows x 2 columns]

In [9]:
%%bigquery --project data-visualization-bjkc

SELECT COUNT(*) as number_trips, start_station_name
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
GROUP BY start_station_name
ORDER BY number_trips DESC

     number_trips        start_station_name
0           72799      21st & Speedway @PCL
1           40635      Riverside @ S. Lamar
2           36520  City Hall / Lavaca & 2nd
3           35307            2nd & Congress
4           34758      Rainey St @ Cummings
..            ...                       ...
188             4           Marketing Event
189             2             Eeyore's 2018
190             1                    Stolen
191             1             Eeyore's 2017
192             1     cesar Chavez/Congress

[193 rows x 2 columns]