<a href="https://colab.research.google.com/github/bjkc/Data-visualization/blob/main/quiz16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Quiz 16


bijay raj kc

In [6]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/nurfnick/Data_Viz/main/IOT-temp.csv')
df.head(10)

                                    id  room_id/id  ... temp  out/in
0  __export__.temp_log_196134_bd201015  Room Admin  ...   29      In
1  __export__.temp_log_196131_7bca51bc  Room Admin  ...   29      In
2  __export__.temp_log_196127_522915e3  Room Admin  ...   41     Out
3  __export__.temp_log_196128_be0919cf  Room Admin  ...   41     Out
4  __export__.temp_log_196126_d30b72fb  Room Admin  ...   31      In
5  __export__.temp_log_196125_b0fa0b41  Room Admin  ...   31      In
6  __export__.temp_log_196121_01544d45  Room Admin  ...   29      In
7  __export__.temp_log_196122_f8b80a9f  Room Admin  ...   29      In
8  __export__.temp_log_196111_6b7a0848  Room Admin  ...   29      In
9  __export__.temp_log_196112_e134aebd  Room Admin  ...   29      In

[10 rows x 5 columns]

converting the  data in datetime

In [7]:
import pandas as pa

df = pa.read_csv('https://raw.githubusercontent.com/nurfnick/Data_Viz/main/IOT-temp.csv')

df.head(15).T

                                             0   ...                                   14
id          __export__.temp_log_196134_bd201015  ...  __export__.temp_log_196095_788b2c27
room_id/id                           Room Admin  ...                           Room Admin
noted_date                     08-12-2018 09:30  ...                     08-12-2018 09:22
temp                                         29  ...                                   29
out/in                                       In  ...                                   In

[5 rows x 15 columns]

In [8]:
pa.to_datetime(df.noted_date, format='%d-%m-%Y %H:%M')

0       2018-12-08 09:30:00
1       2018-12-08 09:30:00
2       2018-12-08 09:29:00
3       2018-12-08 09:29:00
4       2018-12-08 09:29:00
                ...
97601   2018-07-28 07:07:00
97602   2018-07-28 07:07:00
97603   2018-07-28 07:06:00
97604   2018-07-28 07:06:00
97605   2018-07-28 07:06:00
Name: noted_date, Length: 97606, dtype: datetime64[ns]

In [9]:
df.noted_date = pa.to_datetime(df.noted_date, format='%d-%m-%Y %H:%M')

In [10]:
df.temp.describe()

count    97606.000000
mean        35.053931
std          5.699825
min         21.000000
25%         30.000000
50%         35.000000
75%         40.000000
max         51.000000
Name: temp, dtype: float64